.about {
  &__article {
    padding-top: 7rem;
    @include smallUp {
      padding-top: 10rem;
    }
    &-row {
      @include mediumUp {
        display: flex;
        justify-content: space-between;
      }
    }
    &-title {
      margin-bottom: 2rem;
      @include mediumUp {
        width: 25%;
      }
      &-inner {
        @include mediumUp {
          position: sticky;
          top: 10rem;
        }
      }
      h3 {
        position: relative;
        font-size: 1.7rem;
        white-space: nowrap;
        text-decoration: underline;
        text-transform: uppercase;
        background-color: $bg-color;
        color: $color-gray-light;
        @include smallUp {
          font-size: 2rem;
        }
      }
    }
    &-main {
      @include mediumUp {
        width: 70%;
      }

      p {
        font-size: 1.2rem;
        color: $color-gray-light;
        &:not(:last-child) {
          margin-bottom: 2rem;
        }
        @include smallUp {
          font-size: 1.4rem;
        }
      }
    }
    &:last-child {
      margin-bottom: 5rem;
      .about__article-title,
      .about__article-main {
        @include mediumUp {
          padding-top: 10rem;
        }
      }
    }
  }
  &__skills {
    &-section {
      &:not(:last-child) {
        margin-bottom: 3rem;
        @include smallUp {
          margin-bottom: 8rem;
        }
      }
      &-title{
        h4 {
          font-size: 1.4rem;
          text-align: center;
          text-decoration: underline;
          margin-bottom: 4rem;
        }
      }
      &-main {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
      }
    }
    &-box {
      width: 20%;
      margin: 0 6.666667% 3rem;
      @include xSmallUp {
        width: 70px;
        margin: 0;
      }
      @include largeUp {
        width: 100px;
      }
      &-img {
        img {
          display: block;
          max-width: 100%;
          opacity: .8;
        }
      }
      &-title {
        h5 {
          text-align: center;
          font-size: 1rem;
          margin-top: .5rem;
        }
      }
    }
  }
  &__edu {
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      margin-bottom: 2rem;
      list-style-type: circle;
      font-size: 1.2rem;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
      @include smallUp {
        font-size: 1.4rem;
      }
      span {
        display: block;
        font-size: 1rem;
        margin: 1rem 0;
      }
      a {
        display: inline-block;
        color: $color-primary;
        font-size: 16px;
      }
    }
  }
}