.contact {
  min-height: 100vh;
  &__row {
    @include mediumUp {
      display: flex;
    }
  }
  &__text {
    padding-bottom: 4rem;
    font-size: 1.5rem;
    @include mediumUp {
      width: 50%;
    }
  }
  &__title {
    margin-bottom: 3rem;
  }
  &__item {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    @include smallUp {
      font-size: 1.5rem;
    }
    span {
      margin-right: 1rem;
    }
  }
  &__map {
    height: 300px;
    margin-bottom: 4rem;
    @include mediumUp {
      width: 50%;
      height: unset;
      margin-bottom: 0;
    }
  }
}