.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition: .5s;
  padding: 1rem 0;
  z-index: 1000;
  @include smallUp {
    padding: 1.5rem 0;
  }
  @include mediumUp {
    padding: 2rem 0;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(10px);
    transition: .5s;
    // background-color: red;
  }
  &__logo {
    h1 {
      font-size: 2rem;
      font-weight: bold;
      margin: 0;
      @include mediumUp {
        font-size: 2.5rem;
      }
    }
  }
  &__menu-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    & > span {
      text-transform: uppercase;
      margin-right: 1rem;
      font-size: .7rem;
      @include mediumUp {
        font-size: 1rem;
      }
    }
    &-container {
      height: 19px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      @include mediumUp {
        height: 22px;
      }
      div {
        width: 30px;
        height: 2px;
        background-color: #fff;
        @include mediumUp {
          width: 35px;
        }
      }
    }
  }
}

.header--solid {
  background-color: $color-gray-dark;
  box-shadow: 0px 0px 1px 0px #000000;
  .header__inner {
    transform: translateY(0);
  }
}